*{
  margin: 0;
  padding: 0;
  font-family: century Gothic;
}
#container{
  width: 1000px;
  margin: 0 auto;
}
header{
  background-image: url(.1jpg);
}
body {background-image: url("wallpaper.jpg");
background-repeat: no-repeat;
  background-size: cover;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 25px
}
ul{
  position: relative;
  bottom: 110px;
}
ul{
  position: relative;
  right: 65px;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: black;
  padding: 5px  20px;
  border: 1px Solid transparent;
}

ul li a:hover{
  background-color: #fff;
  color: #000;
  transition: 0.6s ease;
}

.logo img{
  float: left;
  width: 80px;
  height: auto;
}
.logo img{
  position: relative;
  left: 75px;
  bottom: 110px;
}

ul li.active a{
  background-color: #fff;
  color: #000;
}

.titleh1{
  position:relative;
  top:39px;
  left: 200px;
  transform: translate(-20%,-10%);
}
.titleh1{
  color:#00008B;
  font-size: 20px;
}
.Line{
  color:#00008B;
  font size: 25px;
}

.write{
  color: darkblue;
  font size: 20px;
}
.Lekal{
  color:black;
  font size: 10px;
}

.lan{
  font-size: 20px;
}

.lan5{
  font size: 25px;
}
.Lan6{
  font-size: 25px;
}

.main{
  max-width: 100%;
  max-height: 50%;
  color: #00008B;
}
.text{
  width:250px;
  color:black;
}
.image{
  float: center;
  width: 2115px;
}
.image{
  position: relative;
  top: 15px;
  left:90px;
}
.picture{
  position:relative;
  top:10px;
  left:10px;
}
.kamess{
  float:left;
  width:5px;
}
.kamess{
  position:relative;
  top:20px;
}
.Akss{
  position:relative;
  right:420px;
}
.Akss2{
  position: relative;
  left:490px;
  bottom:365px;
}
.kalee{
  position: relative;
  left:420px;
  bottom:400px;
}
.line2{
  font-size: 14px;
  color: black;
}
.line3{
  font-size: 17px;
  color: black;
}
.Last1{
  font-size: 20px;
  color: black;
}
.line6{
  font-size: 25px;
  color: black;
}
.title12{
  position: relative;
  left:80px;
}
.mainsearch{
  max-width:850px;
  margin:auto;
  margin-top:150px;
}
.footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffff;
  
}
input[type=text]{
  width:90%;
  padding:12px;
  font-family:arial;
  font-size:17px;
  border:1px solid #0076a3;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  font-style: italic;
}
input[type=submit]{
  position:absolute;
  padding:12px;
  width:8%;
  font-family:arial;
  font-size:17px;
  text-shadow:0 0 1px #000;
  cursor: pointer;
  text-align: center;
  color:#fff;
  border-right: 0;
  background: linear-gradient(#00adee,#0078a5);
  border:1px solid #0076a3;
}
.mainsearch{
  position: relative;
  bottom: 120px;
}
